@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <textarea name="message" id="message"></textarea>
   <input type="button" id="sendButton" value="Send Message"/>
   <div id="messages"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/message.js"></script>
